{% load static %}
{% include "header.html" %}
    <body>
      <div class="container">
      {% include "navbar.html" %}

    <h1>Figuren-Übersicht</h1>  

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Figurenliste</th>
            <th scope="col">Bemerkung</th>
          </tr>
        </thead>
        <tbody>{% for listen in figurenlisten %}
          <tr>
            <th scope="row">{{listen.name}}</th>
            <td>{{listen.kommentar}}</td>
            <td><a class="btn btn-primary" href="{% url 'listen' listen.id %}" role="button">Einsehen</a></td>
            <td><a class="btn btn-danger" href="{% url 'delete_figur' listen.id %}" role="button">Delete</a></td>
          </tr>
          {% endfor %}</tbody>
      </table>

      <form action="{% url 'figurenliste_anlegen' %}" method="post"> 
        {% csrf_token %} 
      
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Neue Figurenliste</span>
      <input type="text" class="form-control" name="figurenliste_name" id="figurenliste_name" aria-label="Username" aria-describedby="basic-addon1"> <!-- greift auf die Post-Variable zu -->
      </div>

      <input type="submit" value="Figurenliste anlegen" type="button" class="btn btn-success">
    </form><br>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>