{% load static %}
{% load custom_tags %}

{% include "header.html" %}

    <body>
      <div class="container">
      {% include "navbar.html" %}

<h1>Storyboard</h1>

<form action="{% url 'home' %}" method="post"> 
  {% csrf_token %} 

  <label for="sortierung">Storyboard sortieren nach... </label>
        <select name="sortierung" id="sortierung" class="form-select" multiple aria-label="multiple select example">
        <option value="kapitel">...Abenteuer-Reihenfolge</option>
        <option value="chronologie">...Chronologie</option>
        </select><br>  

        <label for="button"></label>
        <input type="submit" value="Sortier mich!">

</form>
<br><br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Abenteuer-Nr.</th>
      <th scope="col">Abenteuer-Name</th>
      <th scope="col">Szene</th>
      <th scope="col">Chronologie-Nr.</th>
      <th scope="col">Schauplatz</th>
      <th scope="col">Handlung</th>
    </tr>
  </thead>
  <tbody>{% for szene in szenen %}
    <tr>
      <th scope="row">{{szene.kapitel.kapitelNr}}</th>
      <td>{{szene.kapitel}}</td>
      <td>{{szene.name}}</td>
      <td>{{szene.chronologie}}</td>
      <td>{{szene.ort}}</td>
      <td>{{szene.beschreibung}}</td>
    </tr>
    {% endfor %}</tbody>
</table>
<br><br>

fdjkfdjkfkdj33333777777<br>
{% load static %}
<div id="id_div">
    {% hello_world 'Foo' as salute_text %}
    <strong> {{ salute_text }} </strong>
</div>


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

