{% load static %}
{% include "header.html" %}
    <body>
      <div class="container">
      {% include "navbar.html" %}

    <h1>Liste der {{figurenlisten.name}}</h1>

        <ul class="list-group">
          {% for figur in figuren %}
          <li class="list-group-item"><b>Name:</b> {{figur.name}}</li>
          <li class="list-group-item"><b>Geschlecht:</b> {{figur.geschlecht}}</li>
          <li class="list-group-item"><b>Beruf:</b> {{figur.beruf}}</li>
          <li class="list-group-item"><b>Rasse:</b> {{figur.rasse}}</li>
          <li class="list-group-item"><b>Aktiv vorhanden:</b> {{figur.alive}}</li>
          <li class="list-group-item"><b>Schauplatz:</b> {{figur.ort}}</li>
          <li class="list-group-item"><b>Kommentar:</b> {{figur.kommentar}}</li>
          <li class="list-group-item"><a class="btn btn-primary" href="{% url 'figuren_edit' figur.id %}" role="button">Editieren</a> 
            <form method="POST" action="{% url 'delete_figurenliste' %}">
            {% csrf_token %}
            <input type="text" name="parameter1" style="display:none;" value="{{figur.id}}">
            <input type="text" name="parameter2" style="display:none;" value="{{figurenlisten.id}}">
            <button class="btn btn-danger" type="submit">Delete</button>
        </form></li><br>
          {% endfor %}
          </ul> 
        
        <h3>Neue Figur anlegen</h3>
        
        <form action="{% url 'figur_anlegen' %}" method="post"> 
          {% csrf_token %} 
        
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Name der Figur eingeben:</span>
          <input type="text" class="form-control" name="figur_name" id="figur_name" value="{{figuren_edit.name}}" aria-label="Username" aria-describedby="basic-addon1"> <!-- greift auf die Post-Variable zu -->
          </div>
        <input type="text" name="figur_figurenliste" style="display:none;" value="{{figurenlisten.id}}">
        <input type="submit" value="Erstellen" type="button" class="btn btn-success">
        </form>

        <br>
        <h3>Notizen</h3>
     
        <form action="{% url 'listen' figurenlisten.id %}" method="post"> 
          {% csrf_token %} 
  

          <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
            <i class="fas fa-angle-double-right prefix"></i>
  
          <textarea name="figurenliste_kommentar" id="figurenliste_kommentar" class="md-textarea form-control" rows="10">{{figurenlisten.kommentar}}</textarea>
          <label for="form23">Notizen bearbeiten</label>
          </div>
  
          <a class="btn btn-primary" href="{% url 'figuren' %}" role="button">Zurück</a>
          <input type="submit" value="Speichern" type="button" class="btn btn-success">
  
        </form><br>

      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      
</body>
</html>