{% load static %}
{% include "header.html" %}
    <body>
      <div class="container">
      {% include "navbar.html" %}

    <h1>{{ortliste.name}}</h1>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
          </tr>
        </thead>

        <ul class="list-group">
          <li class="list-group-item"><b>Geographische Lage:</b> {{ortliste.geographische_lage}}</li>
          <li class="list-group-item"><b>Beschreibung des Ortes:</b> {{ortliste.beschreibung_des_ortes}}</li>
          <li class="list-group-item"><b>Bevölkerung und Gesellschaft:</b> {{ortliste.bevölkerung_und_gesellschaft}}</li>
          <li class="list-group-item"><b>Gerüchte und Legenden:</b> {{ortliste.gerüchte_und_legenden}}</li>
          <li class="list-group-item"><b>Quests und Interaktionsmöglichkeiten:</b> {{ortliste.quests_und_interaktionsmöglichkeiten}}</li>
          <li class="list-group-item"><b>Gefahren und Bedrohungen:</b> {{ortliste.gefahren_und_bedrohungen}}</li>
        </ul><br>
        <div class="d-flex flex-row-reverse">
          <a class="btn btn-info" href="{% url 'delete_schauplatz' %}" role="button">Co-Meister</a> 
          <a class="btn btn-warning" href="{% url 'orte_edit' ortliste.id %}" role="button">Bearbeiten</a>
        </div>
        <br>
        <h1>Schauplätze in {{ortliste.name}}</h1>
        <tbody>{% for ort in orte %}
          <tr>
            <th scope="row">{{ort.name}}</th>
            <td scope="row">{{ort.typ}}</td>
            <td><a class="btn btn-primary" href="{% url 'schauplatz' ort.id %}" role="button">Einsehen</a></td>
            <td><form method="POST" action="{% url 'delete_schauplatz' %}">
              {% csrf_token %}
              <input type="text" name="parameter1" style="display:none;" value="{{ort.id}}">
              <input type="text" name="parameter2" style="display:none;" value="{{ortliste.id}}">
              <button class="btn btn-danger" type="submit">Delete</button>
          </form></td>
          </tr>
          {% endfor %}</tbody>
      </table>
      <a class="btn btn-primary" href="{% url 'ortliste' %}" role="button">Zurück</a>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
      <br><br><br>
   
    <h3>Neuen Schauplatz anlegen</h3>
      
    <form action="{% url 'schauplatz_anlegen' %}" method="post"> 
      {% csrf_token %} 
    
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Neuer Schauplatz</span>
      <input type="text" class="form-control" name="schauplatz_name" id="schauplatz_name" aria-label="Username" aria-describedby="basic-addon1"> <!-- greift auf die Post-Variable zu -->
      </div>

      <input type="text" name="schauplatz_ort" style="display:none;" value="{{ortliste.id}}">
      <br>  

    <input type="submit" value="Erstellen" type="button" class="btn btn-success">
    </form>
  </div>
    
</body>